/* --text: #fdfcfc;
--background: #060504;
--primary: #403730;
--secondary: #1d1916;
--accent: #917d6e; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#content {
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  flex-direction: column;  
  gap: 100px;
}



@media screen and (max-width: 1500px) {
  #content{
    height: 100%;
  }

}